.login-form {
    width: 100%;
    margin: 100px auto;
    text-align: center;
  }
  
  .login-form Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto; /* This style will center the form horizontally */
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form Form Item label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
  }
  
  .login-form Form Input Email{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 1.2em;
  }
  .login-form Form Input Password {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 1.2em;
  }
  


  .login-form Form Item Button[type="submit"] {
    width: 100%;
    margin-top: 20px;
    padding: 12px 0;
    font-size: 1.2em;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form form button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .login-form form .error {
    color: red;
    margin-top: 10px;
  }